---
import "../../styles/global.css";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../shared/load-query";
import type { Author, Post } from "../../../studio/sanity.types";
import PortableText from "../../components/PortableText.astro";
import PostAuthor from "../../components/PostAuthor.astro";
import buildImageUrl from "../../shared/build-image-url";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const { data: posts } = await loadQuery<SanityDocument[]>({
		query: `*[_type == "post"]`,
	});

	return posts.map(({ slug }) => {
		return {
			params: {
				slug: slug?.current,
			},
		};
	});
}

const { params } = Astro;

const { data: post } = await loadQuery<Post>({
	query: `*[_type == "post" && slug.current == $slug][0]`,
	params,
});
---

<Layout>
	<h1>{post.title}</h1>
	<img src={buildImageUrl(post.mainImage).url()} alt="Article image" />
	<PostAuthor authorRef={post.author?._ref} authoredDate={post._createdAt} />
	<PortableText portableText={post.body} />
</Layout>
