---
import "../../styles/global.css";
import { loadQuery } from "../../shared/load-query";
import type { Post } from "../../../studio/sanity.types";
import Layout from "../../layouts/Layout.astro";
import PostAuthor from "../../components/PostAuthor.astro";

const { data: posts } = await loadQuery<Post[]>({
	query: `*[_type == "post"]{
		title,
		slug,
		author,
		_createdAt
	}`,
});
//	TODO add to global variables per environment
const baseUrl = `http://localhost:4321/news/`;
---

<Layout>
	<h1>News from our front</h1>
	{
		posts.map((x) => (
			<div>
				<a
					class="text-3xl w-full inline-block"
					href={`${baseUrl}${x.slug?.current}`}
				>
					{x.title}
					<div class="ms-2 text-sm">
						<PostAuthor
							authorRef={x.author?._ref}
							authoredDate={x._createdAt}
						/>
					</div>
				</a>
			</div>
		))
	}
</Layout>

<style>
	h1 {
		text-align: center;
		font-size: 100px;
	}
</style>
